body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRht38PQbc7hzdgzgsJ8dmj2J1uWLrnyTX9rw&usqp=CAU");
    background-size: 100%;


    font-size: 60;
    padding: 150px;
}
